/* navigation start */
header {
  position: static;
  top: 0;
  left: 0;
  height: 20px;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.navigation {
  margin-right: 120px;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 0;
  bottom: -6px;
  background-color: rgb(38, 37, 37);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogIn-popup {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  margin-left: 50px;
  transition: 0.5s;
}

.navigation .btnLogIn-popup:hover {
  background: rgb(38, 37, 37);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

/* navigation end */

/* Main Area start */
.main_pic {
  height: 750px;
  width: auto;
  background-image: url(image/backgroud-main.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

h1 {
  color: blue;
  text-align: center;
}
.img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.img-sub {
  float: left;
  margin-right: 250px;
}

img {
  display: block;
  width: 200px;
  height: 200px;
}
/* Main Area end */
